/* ----- Components ----- */

.section-contact {
    background: #E9E9E9;
    height: 100vh;
    overflow: hidden;
  }
  
  .section-contact h2 {
    text-align: center;
    color: #4A4A4A;
    font-size: 40px;
    line-height: 36px;
    margin: 50px 0;
  }
  
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 98%;
    margin: auto;
  }
  
  .contact__form label {
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 36px;
  }
  
  .contact__form input,
  .contact__form textarea {
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: initial;
    border: none;
    font-size: 22px;
  }
  
  .contact__form input[type=submit] {
    border-radius: 4px;
    background: #00A1D1;
    color: white;
    margin-top: 30px;
  }
  
  .contact__form textarea {
    height: 200px;
  }
  
  #server-result {
    color: yellow;
    background: black;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }