<div class="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2> 
          Contact Form 
        </h2>
      </div><!--./12-->
      <div class="col-xs-12">
        <form class="contact__form" action="" method="post">					
          <label for="name">Contact name</label>
          <input type="text" id="fname" name="firstname" />		

          <label for="mail">Email address</label>
          <input type="email" id="email" name="email" />

          <label for="subject">Subject</label>
          <textarea id="subject" name="subject"></textarea>

          <input type="submit" name="submit" value="Submit Form" />		
        </form>
      </div><!--./12-->
    </div><!--/.row-->
  </div><!--./container-->
</div><!-- /.section-posts -->